img.modelSelector {
    cursor: pointer;
    border: 3px solid white;
}

.modelSelector.selected {
	border: 3px solid #d13138;
	transition: 0.15s ease-in border;
}

div#modelSelector {
    height: 110px;
    margin: 15px;
}

.hs_desired_vehicle_type.hs-desired_vehicle_type.hs-fieldtype-select.field.hs-form-field {
    display: none;
}
