.type-1.contact-form.ddc-content, .ui-dialog #launchDialog   {
    display: none;
}

.ui-dialog .type-1.contact-form.ddc-content {
    display: initial;
}

.contact-form fieldset:not(:nth-child(1)) {
	visibility: hidden;
	position: absolute;
}

ul.formStage li {
    text-align: center;
    width: 32.9%;
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: white;
    background: #303a51;
    margin-bottom: 3px;
    cursor: pointer;
}

ul.formStage {
    padding: 0;
    width: 91%;
    margin: 0 auto;
}

/*ul.formStage li:nth-of-type(1) {
  -webkit-filter: saturate(5); /* Safari 6.0 - 9.0 */
  filter: saturate(5);
}*/

.type-1.contact-form h3.widget-heading {display:none}

.yui3-u-1.ddc-span12 {
    height: 455px;
}
