
/* AC LANDING PAGE TEMPLATE STYLES */

/* General */
.lp-template-active .yui3-u-1.ddc-span12 {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}

.lp-template-active a ~ .type-1.contact-form.ddc-content {
    flex: 1;
}

.lp-template-active .lp-hero-image {
	/*background-image url set using jQuery */
    background-repeat: no-repeat;
    width: 1200px;
    height: 768px;
    margin-bottom: 10px;
}

.lp-template-active .button-block-responsive.ddc-content {
    width: 100%;
}

.lp-template-active .ddc-span12.h1.buttonblock-button {
    padding: 0!important;
}

/* General Form*/

.lp-template-active .type-1.contact-form.ddc-content .form-group.ddc-form-group span, .lp-template-active .type-1.contact-form.ddc-content h3.widget-heading {
    color: white;
}

.lp-template-active .type-1.contact-form button.ddc-btn-primary.ui-button-submit {
    -webkit-filter: saturate(2);
    filter: saturate(2);
    box-shadow: 1px 1px 1px #404040;
    width: 100%;
    text-align: center;
}

/* Horizontal Form */
.lp-template-active .yui3-u-1.ddc-span12 .type-1.contact-form.ddc-content {
    padding: 0 2.5%
}

.lp-template-active .yui3-u-1.ddc-span12 .type-1.contact-form.ddc-content .form-group.ddc-form-group {
    width: 48%;
}

.lp-template-active .type-1.contact-form.ddc-content + a.lp-hero-link {
    order: -1;
    width: 100%;
}


/* Vertical Form */

.lp-template-active a.lp-hero-link {
    width: 70%;
}

.lp-template-active .yui3-u-1.ddc-span12 .slideshow-default.ddc-content + .type-1.contact-form.ddc-content {
    min-height: 768px; /* Default Vertical Form Height */
}

.lp-template-active .yui3-u-1.ddc-span12 a.lp-hero-link + .type-1.contact-form.ddc-content .form-group.ddc-form-group {
    width: 100%;
}
